<nav class="navbar app-nav">
  <h2>Shiv Temple</h2>
    <ul class="nav justify-content-end app ">
    <li class="nav-item ">
      <a class="nav-link color" routerLink='/home'>Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link color">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link color">Photos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link color">About</a>
    </li>
  </ul>
</nav>
<carousel [noPause]="false">
  <slide>
    <img src="../assets/p1.jpeg" alt="Pashupatinath temple" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>PASHUPATINATH TEMPLE</h3>
      <p>Pashupatinath Temple is one of the seven UNESCO Cultural Heritage Sites of the Kathmandu Valley.  It is also a cremation site where the last rites of Hindus are performed. The rituals of cremation is not for the faint hearted; still visitors are seen watching curiously from across the river from the hillside.
         Visit Pashupatinath Temple for an out-of-this-world experience.</p>
    </div>
  </slide>
  <slide>
    <img src="../assets/m.jpg" alt="Muktinath temple" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Muktinath Temple </h3>
      <p>Muktinath Temple (Chumig Gyatsa) is the symbol of the religious symbiosis between both Hindus and Buddhists. The Hindu believes that lord 
        Vishnu got salvation from the curse of Brinda (wife of Jalandhar)</p>
    </div>
  </slide>
  <slide>
    <img src="../assets/s.jpg" alt="kailashnath mahadev" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>kailashnath mahadev</h3>
      <p>THE TALLEST LORD SHIVA STATUE IN THE WORLD located in Nepal (143 feet)high on a high mountain 20 km from the capital city (kathmandu) . ALONG with lord shiva parivar statues 
        and 12 shivalingas including the kailashnath mahadev shivalingas temple</p>
    </div>
  </slide>
</carousel>
<router-outlet></router-outlet>