
<div class="container-fluid">
    <h1 class="head" >Famous lord Shiv Temple of Nepal</h1>
    <div class="row">
      <div class="col-sm-4" style="background-color:yellow;">
        <h2>Lord Shiv</h2>
        <p>
            Shiva is the third god in the Hindu triumvirate. The triumvirate consists of three gods who are responsible for the creation, upkeep and destruction of the world. ... Shiva is known to have untamed passion, which leads him to extremes in behaviour. 
            Sometimes he is an ascetic, abstaining from all wordly pleasures.</p>

</div>
  </div>